<footer class="site">
  <div class="inner">
    <div class="who">
      <div class="name">서정옥 / 온라인 비즈니스 코치</div>
      <a class="mail" href="mailto:cobaltblue872@gmail.com">cobaltblue872@gmail.com</a>
    </div>
    <div class="copy">© seonbiz</div>
  </div>
</footer>
